form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 2em;
  max-width: 600px;
}

form h2 {
  margin-bottom: 1em;
}

input, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  min-width: 500px;
}

textarea {
  resize: vertical;
  font-family: Arial, sans-serif;
  min-height: 120px;
}

select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
}

.submit, .delete {
  min-width: 100px;
  padding: 1em;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 1em
}

.submit {
  background-color: #4CAF50;
}
.delete {
  background-color: #f44336;
}